<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= user.fname %>
    </h1>
    <h1>
        <%= user.lname %>
    </h1>
    <h1>
        <%= user.email %>
    </h1>
    <h1>
        <%= user.phno %>
    </h1>
    <h1>
        <%= user.dob %>
    </h1>
    <h1>
        <%= user.gender %>
    </h1>
    <h1>
        <%= user.add1 %>
    </h1>
    <h1>
        <%= user.add2 %>
    </h1>
    <h1>
        <%= user.city %>
    </h1>
    <h1>
        <%= user.state %>
    </h1>
    <h1>
        <%= user.code %>
    </h1>
    <h1>
        <%= user.country %>
    </h1>
</body>

</html>